<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ProVreed</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="proposal tool for studio Vreed">
  </head>
  <header class="page-header">
    <h1>ProVreed proposal</h1>
  </header>
  <body>
    <main>
    {{{ body }}}
    </main>
  </body>
</html>